
        body
        {
          /*background-color: AliceBlue;*/
          align-content: center;
          font-family: 'century gothic', Arial;
        }
     
        .from_input
       {
         width:50%;
          margin: 40px 25% 40px 25%;
         margin-right: 15px;
       }
     
     	 .from_inputleft
       {
         width:25%;
          margin: 40px 0% 40px 0%;
       }
       .from_inputright
       {
         width:25%;
        position: relative;
        left: 50%;
         margin-right: 15px;
       }
     
        fieldset {
          margin-bottom: 15px;
          padding: 10px;
          //text-align: center;
     
        }
     
        legend {
          padding: 0px 3px;
          font-weight: bold;
          font-variant: small-caps;
        }
     
        .label {
          width: 75%;
          display: inline-block;
          vertical-align: top;
          margin: 6px;
     
        }
     
        input[type=checkbox]
        {
          /*width: 10px;*/
        }
     
        input[type=submit]
        {
          /*width: 150px;
          padding: 10px;*/
        }
        /*
        input:focus
        {
          background: #eaeaea;
        }
         
        input, textarea
        {
          width: 249px;
        }
         
        textarea
        {
          height: 100px;
        }
         
        input, textarea
        {
          width: 120px;
        }
         
        textarea
        {
          height: 100px;
        }
         
        select
        {
          width: 120px;
        }*/
     
        head
        {
          width: 50;
          background-color: black;
        }
     
        div.topbar {
            height: 150px;
            width: auto;
            background-color: #000000;
            margin-top: -25px;
            margin-left: -15px;
            margin-right: -15px;
     
        }
     
        h1 
        {
          text-align: left;
          color: white;
        }
     
        .logo {
            top: 6px;
            left: 0;
            position: absolute;
            z-index: 100;
            padding-left: 20px;
            /*background: url("logo.jpeg");*/
            /*no-repeat scroll 0 100% transparent;*/
        /*    height: 119px;
            width: 200px;*/
        }
     
        .site_container
        {
          overflow: hidden;
          padding-top: 20px;
          width: 100%;
          height: 100%;
          margin-left: auto;
          margin-right: auto;
          border-top: 1px solid #ccc;
          background: #fff;
        }
     
        .text_form
        {
          text-align: center;
          font-family: 'century gothic', cursive;
          font-size: 36px;
          color:#222277;
          margin-top:60px;
          font-weight:300;
        }
     
        .formulaire
        {
          width:50%;
          margin: 40px 25% 40px 25%;
        }
     
       .formulaire2
        {
          width:50%;
          margin: 40px 25% 40px 25%;
          align-content: center;
          align-items: center;
        }
     
        .connected
        {
          background:green;
        }
     
        .notconnected
        {
          background:#CC1918;
        }
     
        .error
        {
          background: orange;
        }
     
        .field
        {
          //width:50%;
          //margin:24px 25% 0 25%;
          //height:32px;
          border-radius: 3px;
          border:1px solid #ccc;
          font-family:  'century gothic', Verdana, Arial;
          font-size: 18px;
          padding-left:6px;
          font-weight:300;
        }
     
        .field2
        {
    		width:50%;
    		margin:24px 25% 0 25%;
    		height:32px;
    		border-radius: 3px;
    		border:1px solid #ccc;
    		font-family:  'century gothic', Verdana, Arial;
    		font-size: 18px;
    		padding-left:6px;
    		font-weight:300;
      	}
     
        .form_btn
        {
          width:40%;
          margin:24px 30% 0 30%;
          height:32px;
          border-radius: 3px;
          border:1px solid #005AE8;
          background-color: #005AE8;
          color:white;
          font-family:'century gothic', Verdana, Arial;
          font-size: 18px;
          font-weight:300;
        }
        .form_btn:hover
        {
          border:1px solid #005AE8;
          background:transparent;
          color:#005AE8;
          cursor:pointer;
        }
     
        .etape
        {
          display: inline-block;
          overflow: hidden;
          text-align: center;
          border-radius: 5px;
          width: 100px;
          height: 20px;
          padding : 5 0.5em;
          margin : 2;
        }
     
        .menupbar
        {
            list-style-type : none;
        }
     
        .reponse
        {
            width: 20%;
        }
     
       #pwidget
    	{
    	  background-color:lightgray;
    	  width:254px;
    	  padding:2px;
    	  -moz-border-radius:3px;
    	  border-radius:3px;
    	  text-align:left;
    	  border:1px solid gray;	
    	}
    	#progressbar
    	{
    	  width:90%;
    	  margin: 40px 5% 40px 5%;
    	  padding:1px;
    	  background-color:lightgrey;
    	  border-radius:3px;
    	  height:5px;
          font-size: 18px;
    	}
    	#indicator
    	{
    	  width:0px;
    	  background-color:cyan;
    	  height:5px;
    	  margin:0;
    	  align-content: center;
    	}
    	#progressnum
    	{
    	width: 41px;
        text-align: center;
        padding: 0;
        font-size: 0.95em;
        color: #51A9AB;
        margin-bottom: 8px;
        position: relative;
        background: #FFF;
        border: 4px solid #F5F5F5;
        left: -22px;
        top: -22px;
        height: 41px;
        border-radius: 99px;
        box-shadow: 1px 1px 2px 1px #CCC;
        line-height: 34px;
        font-weight: 700;
        margin-left:0%;
    	}